In [1]:
import numpy as np
import pandas as pd

In [2]:
roat = "G:/Otros ordenadores/Mi Portátil/Gaspar/Analisis de datos/Free code camp/Demographic Data Analyzer/adult.data (1).csv"

adult_data = pd.read_csv(roat)

**How many people of each race are represented in this dataset?**

In [46]:
# creacion de una serie con todos los tipos de razas 
race_index = pd.Series(adult_data.drop_duplicates(subset= "race")["race"])

In [47]:
race_index

0                  White
3                  Black
11    Asian-Pac-Islander
15    Amer-Indian-Eskimo
50                 Other
Name: race, dtype: object

In [50]:
pd.Series(
# para cada tipo de raza en la columna race de adult_data, creamos una serie y hacemos un recuante de los elementos de la misma
    [pd.Series(adult_data["race"])[pd.Series(adult_data["race"]) == "White" ].count(),
     pd.Series(adult_data["race"])[pd.Series(adult_data["race"]) == "Black" ].count(),
     pd.Series(adult_data["race"])[pd.Series(adult_data["race"]) == "Asian-Pac-Islander"].count(),
     pd.Series(adult_data["race"])[pd.Series(adult_data["race"]) == "Amer-Indian-Eskimo" ].count(),
     pd.Series(adult_data["race"])[pd.Series(adult_data["race"]) == "Other" ].count()
    ], index = race_index
)

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
dtype: int64

**What is the average age of men?**

In [67]:
#seleccion de las filas, en las que el sexo es masculino 
male = adult_data[ adult_data['sex'] == "Male"]

mean_men_age = round(male["age"].mean(),2) 

mean_men_age

39.43

**What is the percentage of people who have a Bachelor's degree?**

In [68]:
# cantidad de elemento en la columna "education"
adult_data['education'].count()

32561

In [80]:
# cantiad de personas con una licenciatura
adult_data.loc[adult_data["education"] == "Bachelors", "education"].count()

5355

In [82]:
# calculo del porcentaje 
Bachelors_degree_people_percent = adult_data.loc[adult_data["education"] == "Bachelors", "education"].count() / adult_data['education'].count()

"{:.2%}".format(Bachelors_degree_people_percent)

'16.45%'

**What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?**

In [4]:
adult_data.drop_duplicates(subset = "education")["education"]

0         Bachelors
2           HS-grad
3              11th
5           Masters
6               9th
10     Some-college
13       Assoc-acdm
14        Assoc-voc
15          7th-8th
20        Doctorate
52      Prof-school
56          5th-6th
77             10th
160         1st-4th
224       Preschool
415            12th
Name: education, dtype: object

In [42]:
#filtrado por quienes tienen estudios avanzados 
advanced_education = adult_data.loc[adult_data['education'].isin(["Bachelors", "Doctorate", "Masters"])]

advanced_education

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K

In [51]:
# recuento de estududiantes avanzados 

advanced_education.shape[0]

7491

In [67]:
# recuanto de quiene ganan mas de 50K
ae_salary_50K = advanced_education.loc[advanced_education["salary"] == ">50K"]

ae_salary_50K.shape[0]

3486

In [61]:
advanced_education_50K = "{:.2%}".format(salary_50K.shape[0] / advanced_education.shape[0])

advanced_education_50K

'46.54%'

**What percentage of people without advanced education make more than 50K?**

In [58]:
# filtrado por personas sin estudios avanzados 

not_advanced_education = adult_data.loc[(adult_data['education'] != "Bachelors") & (adult_data['education'] != "Doctorate") &(adult_data['education'] != "Masters")]

not_advanced_education

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [59]:
not_advanced_education.shape[0]

25070

In [68]:
#recuento de personas sin estudios avanzados con salarios mayores a 50K

nae_salary_50K = not_advanced_education.loc[not_advanced_education['salary'] == ">50K"]

nae_salary_50K.shape[0]

4355

In [71]:
not_advanced_education_50K = "{:.2%}".format(nae_salary_50K.shape[0] / not_advanced_education.shape[0])

not_advanced_education_50K

'17.37%'

**What is the minimum number of hours a person works per week?**

In [74]:
min_hours_per_week = adult_data['hours-per-week'].min()

min_hours_per_week

1

**What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?**

In [80]:
#filtrado por las personas que trabajan el minimo de horas por semana

min_hours_per_week_people = adult_data.loc[adult_data["hours-per-week"] == min_hours_per_week]

min_hours_per_week_people

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
189,58,State-gov,109567,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,1,United-States,>50K
1036,66,Self-emp-inc,150726,9th,5,Married-civ-spouse,Exec-managerial,Husband,White,Male,1409,0,1,?,<=50K
1262,69,?,195779,Assoc-voc,11,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
5590,78,?,363134,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
5632,45,?,189564,Masters,14,Married-civ-spouse,?,Wife,White,Female,0,0,1,United-States,<=50K
5766,62,?,97231,Some-college,10,Married-civ-spouse,?,Wife,White,Female,0,0,1,United-States,<=50K
5808,76,?,211574,10th,6,Married-civ-spouse,?,Husband,White,Male,0,0,1,United-States,<=50K
8447,67,?,244122,Assoc-voc,11,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
9147,75,?,260543,10th,6,Widowed,?,Other-relative,Asian-Pac-Islander,Female,0,0,1,China,<=50K
11451,27,Private,147951,HS-grad,9,Never-married,Machine-op-inspct,Other-relative,White,Male,0,0,1,United-States,<=50K
19337,72,?,76860,HS-grad,9,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,1,United-States,<=50K
19750,23,Private,72887,HS-grad,9,Never-married,Craft-repair,Own-child,Asian-Pac-Islander,Male,0,0,1,Vietnam,<=50K
20072,65,?,76043,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,1,United-States,>50K
20909,77,Self-emp-not-inc,71676,Some-college,10,Widowed,Adm-clerical,Not-in-family,White,Female,0,1944,1,United-States,<=50K
22960,21,Private,184135,HS-grad,9,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,1,United-States,<=50K
23536,69,?,320280,Some-college,10,Never-married,?,Not-in-family,White,Male,1848,0,1,United-States,<=50K
24284,57,Self-emp-not-inc,56480,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,1,United-States,<=50K
25078,74,Private,260669,10th,6,Divorced,Other-service,Not-in-family,White,Female,0,0,1,United-States,<=50K
29752,69,?,117525,Assoc-acdm,12,Divorced,?,Unmarried,White,Female,0,0,1,United-States,<=50K
32525,81,?,120478,Assoc-voc,11,Divorced,?,Unmarried,White,Female,0,0,1,?,<=50K

In [84]:
min_hours_per_week_people.loc[min_hours_per_week_people['salary'] == ">50K"].shape[0]

2