In [1]:
import numpy as np
import pandas as pd

In [2]:
roat = "G:/Otros ordenadores/Mi Portátil/Gaspar/Analisis de datos/Free code camp/Demographic Data Analyzer/adult.data (1).csv"

adult_data = pd.read_csv(roat)

**How many people of each race are represented in this dataset?**

In [46]:
# creacion de una serie con todos los tipos de razas 
race_index = pd.Series(adult_data.drop_duplicates(subset= "race")["race"])

In [47]:
race_index

0                  White
3                  Black
11    Asian-Pac-Islander
15    Amer-Indian-Eskimo
50                 Other
Name: race, dtype: object

In [50]:
pd.Series(
# para cada tipo de raza en la columna race de adult_data, creamos una serie y hacemos un recuante de los elementos de la misma
    [pd.Series(adult_data["race"])[pd.Series(adult_data["race"]) == "White" ].count(),
     pd.Series(adult_data["race"])[pd.Series(adult_data["race"]) == "Black" ].count(),
     pd.Series(adult_data["race"])[pd.Series(adult_data["race"]) == "Asian-Pac-Islander"].count(),
     pd.Series(adult_data["race"])[pd.Series(adult_data["race"]) == "Amer-Indian-Eskimo" ].count(),
     pd.Series(adult_data["race"])[pd.Series(adult_data["race"]) == "Other" ].count()
    ], index = race_index
)

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
dtype: int64

**What is the average age of men?**

In [67]:
#seleccion de las filas, en las que el sexo es masculino 
male = adult_data[ adult_data['sex'] == "Male"]

mean_men_age = round(male["age"].mean(),2) 

mean_men_age

39.43

**What is the percentage of people who have a Bachelor's degree?**

In [68]:
# cantidad de elemento en la columna "education"
adult_data['education'].count()

32561

In [80]:
# cantiad de personas con una licenciatura
adult_data.loc[adult_data["education"] == "Bachelors", "education"].count()

5355

In [82]:
# calculo del porcentaje 
Bachelors_degree_people_percent = adult_data.loc[adult_data["education"] == "Bachelors", "education"].count() / adult_data['education'].count()

"{:.2%}".format(Bachelors_degree_people_percent)

'16.45%'

**What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?**

In [4]:
adult_data.drop_duplicates(subset = "education")["education"]

0         Bachelors
2           HS-grad
3              11th
5           Masters
6               9th
10     Some-college
13       Assoc-acdm
14        Assoc-voc
15          7th-8th
20        Doctorate
52      Prof-school
56          5th-6th
77             10th
160         1st-4th
224       Preschool
415            12th
Name: education, dtype: object

In [42]:
#filtrado por quienes tienen estudios avanzados 
advanced_education = adult_data.loc[adult_data['education'].isin(["Bachelors", "Doctorate", "Masters"])]

advanced_education

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K

In [51]:
# recuento de estududiantes avanzados 

advanced_education.shape[0]

7491

In [52]:
# recuanto de quiene ganan mas de 50K
salary_50K = advanced_education.loc[advanced_education["salary"] == ">50K"]

salary_50K.shape[0]

3486

In [56]:
advanced_education_50K = "{:.2%}".format(salary_50K.shape[0] / advanced_education.shape[0])

advanced_education_50K

'46.54%'