In [1]:
import numpy as np
import pandas as pd

In [2]:
roat = "G:/Otros ordenadores/Mi Port√°til/Gaspar/Analisis de datos/Free code camp/Demographic Data Analyzer/adult.data (1).csv"

adult_data = pd.read_csv(roat)

**How many people of each race are represented in this dataset?**

In [3]:
# Creation of a series featuring all types of races.
race_index = pd.Series(adult_data.drop_duplicates(subset= "race")["race"])

In [4]:
race_index

0                  White
3                  Black
11    Asian-Pac-Islander
15    Amer-Indian-Eskimo
50                 Other
Name: race, dtype: object

In [5]:
# For each race type in the race column of adult_data, we create a series and perform a count of its elements.
pd.Series(
    [pd.Series(adult_data["race"])[pd.Series(adult_data["race"]) == "White" ].count(),
     pd.Series(adult_data["race"])[pd.Series(adult_data["race"]) == "Black" ].count(),
     pd.Series(adult_data["race"])[pd.Series(adult_data["race"]) == "Asian-Pac-Islander"].count(),
     pd.Series(adult_data["race"])[pd.Series(adult_data["race"]) == "Amer-Indian-Eskimo" ].count(),
     pd.Series(adult_data["race"])[pd.Series(adult_data["race"]) == "Other" ].count()
    ], index = race_index
)

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
dtype: int64

**What is the average age of men?**

In [6]:
# Selection of rows where the gender is male.
male = adult_data[ adult_data['sex'] == "Male"]

mean_men_age = round(male["age"].mean(),2) 

mean_men_age

39.43

**What is the percentage of people who have a Bachelor's degree?**

In [7]:
# Count of elements in the education column.
adult_data['education'].count()

32561

In [8]:
# Number of individuals with a bachelor's degree.
adult_data.loc[adult_data["education"] == "Bachelors", "education"].count()

5355

In [9]:
# Percentage calculation.
Bachelors_degree_people_percent = adult_data.loc[adult_data["education"] == "Bachelors", "education"].count() / adult_data['education'].count()

"{:.2%}".format(Bachelors_degree_people_percent)

'16.45%'

**What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?**

In [10]:
adult_data.drop_duplicates(subset = "education")["education"]

0         Bachelors
2           HS-grad
3              11th
5           Masters
6               9th
10     Some-college
13       Assoc-acdm
14        Assoc-voc
15          7th-8th
20        Doctorate
52      Prof-school
56          5th-6th
77             10th
160         1st-4th
224       Preschool
415            12th
Name: education, dtype: object

In [11]:
# Filtering for those with advanced education.
advanced_education = adult_data.loc[adult_data['education'].isin(["Bachelors", "Doctorate", "Masters"])]

advanced_education

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K

In [12]:
# Count of individuals with advanced education.

advanced_education.shape[0]

7491

In [13]:
# Count of those who earn more than 50K.
ae_salary_50K = advanced_education.loc[advanced_education["salary"] == ">50K"]

ae_salary_50K.shape[0]

3486

In [14]:
advanced_education_50K = "{:.2%}".format(ae_salary_50K.shape[0] / advanced_education.shape[0])

advanced_education_50K

'46.54%'

**What percentage of people without advanced education make more than 50K?**

In [15]:
# Filtering for individuals without advanced education.

not_advanced_education = adult_data.loc[(adult_data['education'] != "Bachelors") & (adult_data['education'] != "Doctorate") &(adult_data['education'] != "Masters")]

not_advanced_education

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [16]:
not_advanced_education.shape[0]

25070

In [17]:
# Count of individuals without advanced education with salaries exceeding 50K.

nae_salary_50K = not_advanced_education.loc[not_advanced_education['salary'] == ">50K"]

nae_salary_50K.shape[0]

4355

In [18]:
not_advanced_education_50K = "{:.2%}".format(nae_salary_50K.shape[0] / not_advanced_education.shape[0])

not_advanced_education_50K

'17.37%'

**What is the minimum number of hours a person works per week?**

In [19]:
min_hours_per_week = adult_data['hours-per-week'].min()

min_hours_per_week

1

**What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?**

In [20]:
# Filtering for individuals working the minimum number of hours per week.

min_hours_per_week_people = adult_data.loc[adult_data["hours-per-week"] == min_hours_per_week]

min_hours_per_week_people

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
189,58,State-gov,109567,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,1,United-States,>50K
1036,66,Self-emp-inc,150726,9th,5,Married-civ-spouse,Exec-managerial,Husband,White,Male,1409,0,1,?,<=50K
1262,69,?,195779,Assoc-voc,11,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
5590,78,?,363134,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
5632,45,?,189564,Masters,14,Married-civ-spouse,?,Wife,White,Female,0,0,1,United-States,<=50K
5766,62,?,97231,Some-college,10,Married-civ-spouse,?,Wife,White,Female,0,0,1,United-States,<=50K
5808,76,?,211574,10th,6,Married-civ-spouse,?,Husband,White,Male,0,0,1,United-States,<=50K
8447,67,?,244122,Assoc-voc,11,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
9147,75,?,260543,10th,6,Widowed,?,Other-relative,Asian-Pac-Islander,Female,0,0,1,China,<=50K
11451,27,Private,147951,HS-grad,9,Never-married,Machine-op-inspct,Other-relative,White,Male,0,0,1,United-States,<=50K
19337,72,?,76860,HS-grad,9,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,1,United-States,<=50K
19750,23,Private,72887,HS-grad,9,Never-married,Craft-repair,Own-child,Asian-Pac-Islander,Male,0,0,1,Vietnam,<=50K
20072,65,?,76043,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,1,United-States,>50K
20909,77,Self-emp-not-inc,71676,Some-college,10,Widowed,Adm-clerical,Not-in-family,White,Female,0,1944,1,United-States,<=50K
22960,21,Private,184135,HS-grad,9,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,1,United-States,<=50K
23536,69,?,320280,Some-college,10,Never-married,?,Not-in-family,White,Male,1848,0,1,United-States,<=50K
24284,57,Self-emp-not-inc,56480,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,1,United-States,<=50K
25078,74,Private,260669,10th,6,Divorced,Other-service,Not-in-family,White,Female,0,0,1,United-States,<=50K
29752,69,?,117525,Assoc-acdm,12,Divorced,?,Unmarried,White,Female,0,0,1,United-States,<=50K
32525,81,?,120478,Assoc-voc,11,Divorced,?,Unmarried,White,Female,0,0,1,?,<=50K

In [21]:
min_hours_per_week_people.loc[min_hours_per_week_people['salary'] == ">50K"].shape[0]

2

**What country has the highest percentage of people that earn >50K and what is that percentage?**

In [22]:
# Grouping by countries and counting the number of individuals with a salary >50K.

country_over_50K = adult_data.loc[adult_data["salary"] == ">50K"]

df_country_over_50K = country_over_50K.groupby("native-country").size().sort_values(ascending = False)

df_country_over_50K

native-country
United-States         7171
?                      146
Philippines             61
Germany                 44
India                   40
Canada                  39
Mexico                  33
England                 30
Italy                   25
Cuba                    25
Japan                   24
China                   20
Taiwan                  20
Iran                    18
South                   16
Poland                  12
France                  12
Puerto-Rico             12
Jamaica                 10
El-Salvador              9
Greece                   8
Cambodia                 7
Yugoslavia               6
Hong                     6
Ireland                  5
Vietnam                  5
Ecuador                  4
Haiti                    4
Portugal                 4
Scotland                 3
Thailand                 3
Hungary                  3
Guatemala                3
Laos                     2
Dominican-Republic       2
Peru                     2
Trinadad&Tobago          2
Columbia                 2
Nicaragua                2
Honduras                 1
dtype: int64

In [23]:
# Grouping by countries and counting the number of individuals with a salary <=50K.

country_under_50K = adult_data.loc[adult_data["salary"] == "<=50K"]

df_country_under_50K = country_under_50K.groupby("native-country").size().sort_values(ascending = False)

df_country_under_50K

native-country
United-States                 21999
Mexico                          610
?                               437
Philippines                     137
Puerto-Rico                     102
El-Salvador                      97
Germany                          93
Canada                           82
Jamaica                          71
Cuba                             70
Dominican-Republic               68
South                            64
Vietnam                          62
Guatemala                        61
England                          60
India                            60
Columbia                         57
China                            55
Italy                            48
Poland                           48
Haiti                            40
Japan                            38
Portugal                         33
Nicaragua                        32
Taiwan                           31
Peru                             29
Iran                             25
Ecuador                          24
Greece                           21
Ireland                          19
Trinadad&Tobago                  17
France                           17
Laos                             16
Thailand                         15
Outlying-US(Guam-USVI-etc)       14
Hong                             14
Cambodia                         12
Honduras                         12
Hungary                          10
Yugoslavia                       10
Scotland                          9
Holand-Netherlands                1
dtype: int64

In [24]:
# DataFrame con la cantidad de personas con salarios mayores y menores de 50K, y el porcentaje que representan los salarios mayores a 50K.

percentage_country_over_50k = pd.concat([df_country_over_50K, df_country_under_50K], axis= 1, keys = [">50K" , "<=50K"])

percentage_country_over_50k["%"] = round(( percentage_country_over_50k['>50K'] / (percentage_country_over_50k['>50K'] + percentage_country_over_50k["<=50K"])) * 100, 2)

percentage_country_over_50k.sort_values(by = "%", ascending = False)

                              >50K  <=50K      %
native-country
Iran                          18.0     25  41.86
France                        12.0     17  41.38
India                         40.0     60  40.00
Taiwan                        20.0     31  39.22
Japan                         24.0     38  38.71
Yugoslavia                     6.0     10  37.50
Cambodia                       7.0     12  36.84
Italy                         25.0     48  34.25
England                       30.0     60  33.33
Canada                        39.0     82  32.23
Germany                       44.0     93  32.12
Philippines                   61.0    137  30.81
Hong                           6.0     14  30.00
Greece                         8.0     21  27.59
China                         20.0     55  26.67
Cuba                          25.0     70  26.32
?                            146.0    437  25.04
Scotland                       3.0      9  25.00
United-States               7171.0  21999  24.58
Hungary                        3.0     10  23.08
Ireland                        5.0     19  20.83
Poland                        12.0     48  20.00
South                         16.0     64  20.00
Thailand                       3.0     15  16.67
Ecuador                        4.0     24  14.29
Jamaica                       10.0     71  12.35
Laos                           2.0     16  11.11
Portugal                       4.0     33  10.81
Puerto-Rico                   12.0    102  10.53
Trinadad&Tobago                2.0     17  10.53
Haiti                          4.0     40   9.09
El-Salvador                    9.0     97   8.49
Honduras                       1.0     12   7.69
Vietnam                        5.0     62   7.46
Peru                           2.0     29   6.45
Nicaragua                      2.0     32   5.88
Mexico                        33.0    610   5.13
Guatemala                      3.0     61   4.69
Columbia                       2.0     57   3.39
Dominican-Republic             2.0     68   2.86
Outlying-US(Guam-USVI-etc)     NaN     14    NaN
Holand-Netherlands             NaN      1    NaN

**Identify the most popular occupation for those who earn >50K in India.**

In [25]:
indian_people = adult_data[adult_data["native-country"] == "India"]

In [26]:
indian_people.groupby("occupation").size().max()

40